@font-face {
    font-family: inter;
    src: url(./font/InterTight-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: inter;
    box-sizing: border-box;
    background-color: #1C1C1C;
    scroll-behavior: smooth;
}

html, body{
    width: 100%;
    height: 100%;

}

#main{
    width: 100%;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 2vh 2vw;
}

#navbar #sec2 a, #navbar #sec1 a{
    color: #fff;
    text-decoration: none;
    gap: 1vw;
    font-size: 0.9vw;
    font-weight: 500;
}

#navbar #sec2 a{
    margin-right: 2vw;
}

#navbar #sec2 a:hover{
    color: rgb(180, 176, 176);
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s ;
}

#text{
    padding: 0 24.5vw;
    margin-top: 29vh;
    margin-bottom: 3vh;
    justify-content: space-between;
}

#text p{
    line-height: 1.3;
    color: #fff;
    font-size: 3.2vw;
    font-weight: 400;
    position: relative;
    right: 0;
    width: 100%;
    margin: 0;
}

#text h4{
    color: #bdbaba;
    font-size: 3.2vw;
    font-weight: 400;
}

#text span{
    display: inline-block;
    border-radius: 20vw;
    margin: 0 .5vw;
    margin-bottom: -1.8vh;
    background-color: red;
}

#onespan {
    width: 4vw;
    height: 4vw;
    background-image: url(./img/me.jpg);
    background-size: cover;
    background-position: 0 10%;
}

hr{
    width: 96%;
    height: 1px; 
    background-color: #bdbaba5e; 
    border: none; 
    margin: 10px auto; 
}

#imgcontainer {
    width: 100%;
    padding: 2vh 2vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#project h4{
    color: #1C1C1C;
}

#imgcontainer .img .text-container {
    position: absolute;
    top: 1vh;
    left: 1vw;
    text-align: left;
    color: #ffffff;
    z-index: 2;
    display: none;
}

#imgcontainer .img:hover .text-container {
    display: block;
    background-color: transparent;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

#imgcontainer .img h4 {
    margin: 0;
    font-size: 1vw;
    font-weight: 600;
    color: #000000;
    background-color: transparent;
}

#imgcontainer .img p{
    margin: 0;
    font-size: 0.7vw;
    color: #bdbaba;
    background-color: transparent;
}

#imgcontainer .img img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

#imgcontainer .img {
    flex: 1;
    text-align: center;
    margin: 0 5px;
    background-size: cover;
    background-position: center;
}

#imgcontainer .img:hover img{
    filter: grayscale(0);
}

#imgcontainer .img:hover{
    filter: grayscale(0);
}


#aboutcontainer {
    width: 100%;
    padding: 2vh 2vw;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 23vw;
}

#abouttext1 p {
    color: #fff;
    text-align: left;
    font-size: 0.9vw;
    font-weight: 600;
    margin: 0;
    margin-right: auto;
}

#abouttext2 p {
    text-align: left;
    font-size: 0.9vw;
    font-weight: 300;
}

#abouttext2 #text1{
    color: #fff;
}

#abouttext2 #text2{
    color: #bdbaba;
}

#contact {
    width: 100%;
    padding: 2vh 2vw;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 22.5vw;
}

#contactsec1 p {
    color: #fff;
    text-align: left;
    font-size: 0.9vw;
    font-weight: 300;
    margin: 0;
    margin-right: auto;
}

#contactsec2 p {
    color: #fff;
    text-align: left;
    font-size: 0.9vw;
    font-weight: 600;
}

#contactsec2 h4{
    color: #bdbaba;
    font-size: 2vw;
}

#footer {
    width: 100%;
    padding: 2vh 2vw;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#footer a{
    text-decoration: none;
    color: #bdbaba;
}

#footer a:hover{
    color: #fff;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

#footer p{
    color: #fff;
}

#footer h4{
    color: #bdbaba;
}

@media (max-width: 1100px) {

    #navbar #sec2 a, #navbar #sec1 a{
        font-size: 2vw;
        padding: 2vh 4vw;
    }

    #text{
        margin-top: 7vh;
    }
    #text p{
        font-size: 6vw;
    }
    #text h4{
        font-size: 6vw;
    }
    #text span{
        margin-bottom: 0vh;
    }
    #imgcontainer {
        display: flex;
        flex-direction: column;
        padding: 2vh 4vw;
    }
    #imgcontainer p{
        font-size: 1vw;
    }
    #imgcontainer {
        width: 100%;
        padding: 2vh 2vw;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
    }

    #project h4{
        color: #fff;
        padding: 0 4vw;
        font-size: 2.2vw;
        font-weight: 300;
    }
    
    #imgcontainer .img .text-container {
        position: absolute;
        top: 1vh;
        left: 1vw;
        text-align: left;
        color: #ffffff;
        z-index: 2;
        display: none;
    }
    
    #imgcontainer .img:hover .text-container {
        display: block;
        background-color: transparent;
        transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
    }
    
    #imgcontainer .img h4 {
        margin: 0;
        font-size: 1vw;
        font-weight: 600;
        color: #000000;
        background-color: transparent;
    }
    
    #imgcontainer .img p{
        margin: 0;
        font-size: 0.7vw;
        color: #bdbaba;
        background-color: transparent;
    }
    
    #imgcontainer .img img {
        width: 80%;
        height: 70vh;
        object-fit: cover;
        filter: grayscale(0);
    }
    
    #imgcontainer .img {
        flex: 1;
        background-size: cover;
    }
    
    #aboutcontainer{
        display: flex;
        flex-direction: column;
        padding: 2vh 4vw;
    }
    #abouttext1 p{
        font-size: 3vw;
        font-weight: 300;
    }
    #abouttext2 p{
        font-size: 2vw;
    }
    #abouttext2{
        margin-top: -10vh;
        padding: 2vh 4vw;
    }
    #contact{
        display: flex;
        flex-direction: column;
        padding: 2vh 4vw;
    }
    #contactsec2{
        margin-top: -10vh;
        padding: 2vh 4vw;
    }
    #contactsec1 p{
        font-size: 3vw;
    }
    #contactsec2 p{
        font-size: 2vw;
    }
    #contactsec1 h4{
        font-size: 3vw;
    }
    #footer{
        padding: 2vh 4vw;
    }
    #footer a{
        font-size: 2vw;
    }
    #footer h4{
        font-size: 2.2vw;
    }
    #footer p{
        font-size: 2.2vw;
    }
}
